body {
   
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);

    grid-template-areas: 
    "div1"
    "div2"
    "div3"
    "div4";
    
    
    
}
.div1 {
    background-color: aqua;
  
    
    
    

}
.div2 {
    background-color: blueviolet;
    
}
.div3 {
    background-color: brown;
    
}
.div4 {
    background-color: red;
}